@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Neucha';
}
html{
	scroll-behavior: smooth;
}


.inicio{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: #F6830F;
}

#a1977{
	background-color: #FCF8E8;
}
#a1980{
	background-color: #D4E2D4;
}
#a1983{
	background-color: #ECB390;
}
#a1989{
	background-color: #E5DF88;
}
#a1995{
	background-color: #FFE5B9;
}
#a1996{
	background-color: #EBD4D4;
}
#a2001{
	background-color: #C9CBFF;
}
#a2004{
	background-color: #A6A9B6;
}
#a2006{
	background-color: #F5F4F4;
}
#a2012{
	background-color: #FCD1D1;
}
#a2017{
	background-color: #ECE2E1;
}
.inicio h1{
	font-size: 68px;
	letter-spacing: 5px;
}
.inicio h2{
	font-size: 50px;
	letter-spacing: 5px;
	text-align: center;
}
.inicio img{
	margin-top: 30px;
	max-width: 300px;
}
.contenedor-tiempo {
    position: relative;
    left: 50%;
    top: 0; /* Asegura que esté pegado a la parte superior */
    margin-top: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}


.contenedor-tiempo .linea{
	width: 900px;
	position: absolute;
	top: 30px;
	height: 2px;
	background-color: black;
	z-index: -2;

}
.fecha{
	display: inline-block;
	font-size: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2D4059;
	text-decoration: none;
	color: white;
	margin: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 1;
	transition: background-color, transform .5s linear;

}
.seleccionado{
	transform: scale(1.2) ;
	background-color: #EA5455;
	color: #000;
	font-weight: bold;
}



/* Estilos para pantalla de celular */
@media only screen and (max-width: 600px) {
    .inicio h1{
      font-size: 40px;
    }
    .inicio h2{
      font-size: 30px;
    }
    .inicio img{
      max-width: 200px;
    }
    .contenedor-tiempo{
      top: 10px;
      flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
      align-items: center;
    }
    .fecha{
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
    .contenedor-tiempo .linea{
        width: calc(100% - 40px); /* Ajuste para que la línea ocupe el ancho completo menos el margen de las fechas */
      }
  }